html,
    body,
    div {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      font-family: sans-serif;
    }
    a, a:link {
      text-decoration: none;
      color: white;
    }
    a:hover {
      color:greenyellow
    }